.depositWindows {
  padding-top: 4rem;
  font-size: 0.8rem;
  width: 100%;
  border: none;
  background-color: #24262b;
  color: var(--gray1);
  padding-bottom: 7rem;
}
.depositWindows .pixInfo {
  color: #b4c0cb;
}
.depositWindows .channelContainer {
  height: 4.5rem;
}
.depositWindows .channelContainer .payChannel{
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  overflow-x: auto;
}
.depositWindows .channelContainer .payChannel::-webkit-scrollbar {
  display: none;
}
.depositWindows .channelContainer .channelItem {
  color: #8ea7bb;
  background: #232323;
  border-radius: 0.4rem;
  width: 12rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-wrap: nowrap;
}
.depositWindows .channelContainer .channelItem.active {
  box-shadow: inset 0 0 0 1px #8399ac80;
}
.depositWindows .channelContainer .channelItem .pixInfo {
  color: #9e9e9e;
}
.depositWindows .channelContainer .channelItem .pixImg {
  height: 1.5rem;
  margin-right: 1rem;
}
.depositWindows .channelContainer .channelItem span {
  white-space: nowrap;
}
.depositWindows .depositMain input {
  text-indent: 14rem;
  color: var(--blue);
  font-size: 1.4rem;
}
.depositWindows .depositMain .tips-close {
  left: 1rem;
  top: 50%;
  color: var(--blue);
  transform: translate(0, -50%);
}
.depositWindows .depositMain .deposit ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.depositWindows .depositMain .deposit li {
  position: relative;
  border-radius: 0.3rem;
  width: 30.33%;
  margin: 0 1.5%;
  background-color: var(--gray2);
  display: flex;
  flex-direction: column;
  align-items: center;
}
.depositWindows .depositMain .deposit li.active {
  background: var(--greenGradient);
}
.depositWindows .depositMain .deposit li.hot::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 2rem;
  height: 2rem;
  background: url('../images/icon/hot.png') no-repeat center center / contain;
}
.depositWindows .depositMain .deposit .amountContent {
  pointer-events: none;
}
.depositWindows .depositMain .deposit .currencyIcon {
  height: 0.9rem;
}
.depositWindows .depositMain .deposit span {
  color: var(--fff);
  font-size: 1rem;
}
.depositWindows .depositMain .deposit .amountTips {
  font-size: 0.7rem;
  color: #9e9e9e;
  pointer-events: none;
}
.depositWindows .depositMain .deposit li.active .amountTips {
  color: var(--fff);
}
.depositWindows .depositMain .depositBtn {
  background: var(--greenGradient);
  color: var(--fff);
  border: none;
  opacity: 0.4;
  border-radius: 2px;
  padding: 0.56rem 0;
  cursor: not-allowed;
}
.depositWindows .depositMain .depositBtn.active {
  opacity: 1;
  cursor: pointer;
}
.depositWindows .tips li {
  color: #7e7e7e;
  text-indent: -1rem;
}
.depositWindows .tips li span {
  font-weight: bold;
  color: #64d23e;
}
