:root {
  --black1: #24262b;
  --black2: #1c1e22;
  --black3: #1a1c20;
  --black4: #191919;
  --fff: #ffffff;
  --gray1: #98a7b5;
  --gray2: #494949;
  --blue: #8ea7bb;
  --primary: #3bc117;
  --greenBg: #009d80;
  --yellow: #ffe800;
  --greenGradient: linear-gradient(180deg, #278e47, #64d23e);
  --redGradient: linear-gradient(180deg, #8b0000, #d23e3e);
}
.app {
  width: 100vw;
  height: 100%;
  margin: 0 auto;
  min-height: 100%;
  box-sizing: border-box;
  background-color: #25262b;
}
.app.widthLimit {
  max-width: 34rem;
}
html{
  height: 100%;
  overflow-y: hidden;
  background-color: var(--fff);
  min-height: 100%;
}
body {
  font-family: 'Helvetica Neue', Helvetica, 'Apple SD Gothic Neo', 'Malgun Gothic', Arial,sans-serif;
  font-size: 16px;
  background-color: var(--fff);
  height: 100%;
  overflow: hidden;
  min-height: 100%;
}
hr {
  background-color: var(--fff);
}
h2 {
  color: var(--fff);
  margin: 0;
}
a {
  text-decoration: none;
}
span{cursor: default;}
.btn:focus{
  box-shadow: none;
}
.form-control {
  border: none;
  background-color: var(--black3);
}
.form-control:focus {
  background-color: var(--black4);
  box-shadow: 0 0 0 1px var(--primary);
  color: var(--fff);
}
.routerView{
  position:absolute;
  width:100%;
  /* will-change: transform; */
  transition: all .3s;
  overflow-y: auto;
  height: 100%;
  max-width: 34rem;
  background-color: var(--black1);
}
.routerView::-webkit-scrollbar{display: none;}

.headerBack {
  z-index: 1;
  height: 4rem;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #17181c;
  max-width: 34rem;
}
.headerBack .title {
  font-size: 1.2rem;
}
.closeBtn{cursor: pointer;}